{
  "Parameters": {
    "MONGODB_URI": "mongodb+srv://username:password@cluster.mongodb.net/healthbooker?retryWrites=true&w=majority&appName=HealthBooker",
    "JWT_SECRET": "your-super-secret-jwt-key-change-this-in-production",
    "SMTP_HOST": "smtp.mailtrap.io",
    "SMTP_PORT": "587",
    "SMTP_USER": "your-mailtrap-username",
    "SMTP_PASS": "your-mailtrap-password",
    "FROM_EMAIL": "noreply@healthbooker.local",
    "BASE_URL": "http://localhost:3000"
  }
}
